/* .App {
    text-align: center;
    align-items: center;
    background-color: rgb(202, 223, 223);
    height: 100vh;
} */

html {
    text-align: center;
    align-items: center;
    height: 100vh;
}

.Polaris-Button {
    margin-top: 20px;
    width: 100%;
    background-color: rgb(150, 168, 168);
}

form {
    width: 40%;
    margin: 20px auto;
    padding: 50px;
    background-color: rgb(176, 213, 214);
}

#PolarisTextField2 {
    position: relative;
}

p {
    color: red;
}